@import "abstract/_functions.scss";
@import "abstract/_mixins.scss";
@import "abstract/_variables.scss";

@import "base/_animations.scss";
@import "base/_base.scss";
@import "base/_typography.scss";
@import "base/_utilities.scss";

@import "components/_button.scss";

@import "layout/header";

@import "pages/_home.scss";

@import "layout/grid";

/* universal reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
