@import "abstract/_functions.scss";
@import "abstract/_mixins.scss";
@import "abstract/_variables.scss";

@import "base/_animations.scss";
@import "base/_base.scss";
@import "base/_typography.scss";
@import "base/_utilities.scss";

@import "components/_button.scss";
@import "components/_compostion.scss";
@import "components/_feature-box.scss";
@import "components/_card.scss";
@import "components/story";
@import "components/bg-video";
@import "components/form";
@import "components/popup";

@import "layout/header";
@import "layout/footer";
@import "layout/grid";
@import "layout/footer";
@import "layout/navigation";
@import "pages/_home.scss";

/* universal reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
